<main>
    <div>
        <h2>Announcement Component</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea impedit repellat laborum nobis tempore deleniti molestias aliquam ipsam itaque id porro, doloremque officia hic ad assumenda quibusdam quis, rerum autem iste consectetur doloribus eveniet deserunt obcaecati ab. Magni assumenda nemo beatae commodi accusantium laudantium! Harum, incidunt voluptatibus tempora laborum possimus inventore neque molestias culpa voluptate deserunt laudantium perspiciatis, ipsa magnam mollitia voluptates ad quo. Sint hic libero, veritatis laboriosam officia, fugiat quo facere laborum quod rerum amet, porro esse possimus! Quas facere magnam impedit repellendus quasi doloribus cupiditate molestiae in, voluptate ullam. In modi praesentium nihil numquam incidunt esse earum.</p>
        <button class="whitebutton">TRY IT FREE</button><button class="orangebutton">SIGN UP</button>
    </div>
    
</main>