<main>
    <div>
        <h2>CategoryMenu1 Component</h2>        
    </div>
    <div class="area1">
        <div>
            <h4>Need help with any of these?</h4>
        </div>
        <div class="flex-container">
            <div class="catmenu">
                <p>Samsung Galaxy Tab A</p>
            </div>
            <div class="catmenu">
                <p>iPhone X</p>
            </div>
            <div class="catmenu">
                <p>Smart Android LE...</p>
            </div>
            <div class="catmenu">
                <p>ASUS Zen AIO</p>
            </div>

        </div>

    </div>

</main>